build/
bin/
lib/
bin-*
obj/
*.o
*.obj
*.exe
*.jpg
*.out
*.app
*.dll
*.so
*.bmp
*.dat
*.dylib

Makefile
makefile
*.make
*.workspace
*.project
*.sln
*.vcxproj*
*.codelite
*.codeblocks
*.gmake*
*.txt

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.user
*.suo
*.VC.db
*.DS_Store
.vs/
.vscode/
.idea/

*.log
*.tmp
*.bak
*.swp
*.swn

**/external/**/build/
**/external/**/bin/

*.iml
*.class
*.pyc
__pycache__/

!premake5
!premake5a15
!premake5.exe
